body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.container {
  border: 1px solid #ddd;
  padding: 20px;
  width: 500px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-group label {
  margin-right: 10px;
  width: 100px;
}

.input-group input {
  padding: 5px;
  width: 200px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.button-group button {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.cara-kalkulasi {
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 10px;
}

p {
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: justify;
}

p:first-of-type {
  margin-top: 16px;
}

p:nth-of-type(3) {
  margin-top: 8px;
}

p:nth-of-type(4), p:nth-of-type(6) {
  margin-top: 4px;
  text-align: left;
}

